{% extends 'base.html' %}
<!-- Your navbar -->
{% block title %}
DCS Sudent Management System
{% endblock title %}
{% block body %}


<div class="container my-4">
    <h2>Add Student Record</h2>
    <form action="/" method = "POST">
        <div class="row mb-3">
            <!-- Student Name -->
            <div class="col">
                <label for="name" class="form-label">Student Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <!-- Father Name -->
            <div class="col">
                <label for="father_name" class="form-label">Father's Name</label>
                <input type="text" class="form-control" id="father_name" name="father_name" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="seat_number" class="form-label">Seat Number</label>
            <input type="text" class="form-control" name="seat_number" id="seat_number">
        
        <div id="nameHelp" class="form-text">Eg. B2110006001</div>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                <label for="program" class="form-label">Program</label>
                <select class="form-select" id="program" name="program" required>
                    <option value="" selected disabled>Select Program</option>
                    <option value="BSCS">BSCS</option>
                    <option value="BSSE">BSSE</option>
                    <option value="BSAI">BSAI</option>
                </select>
            </div>

            <div class="col">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" required>
                    <option value="" selected disabled>Select Gender</option>
                    <option value="M">Male (M)</option>
                    <option value="F">Female (F)</option>
                </select>
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>
<div class="container my-3">
    <h2>Students List</h2>

    <tbody>
        {% if allStudents|length == 0 %}
        <div class="alert alert-secondary my-3" role="alert">
            No Student Found.. Add first student's detail
        </div>

        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Father Name</th>
                    <th scope="col">Seat Number</th>
                    <th scope="col">Program</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>

            {% for student in allStudents %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{student.name}}</td>
                <td>{{student.father_name}}</td>
                <td>{{student.seat_number}}</td>
                <td>{{student.program}}</td>
                <td>{{student.gender}}</td>
                
            </tr>
            {% endfor %}
            {% endif %}


            </tr>
    </tbody>
    </table>
</div>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock body %}